<!DOCTYPE html>
<html  lang="zh-CN">
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>积分管理系统</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body   style="background-color:#F5F5F5" >


	<div class="navall">
		<div class="logo">
			<h1>管理员积分管理</h1>
		</div>
		<div class="navbar">
			<ul class="nav nav-pills">
			    <li role="presentation" ><a href="/adminTest">积分兑换</a></li>
			    <li role="presentation"><a href="/trans">积分赠送</a></li>
				<li role="presentation"><a href="/exchange">异业互兑</a></li>
				<li role="presentation"><a href="/blockchain">区块链浏览器</a></li>
				<li role="presentation" ><a href="/adminMpoint">积分发放记录管理</a></li>
				<li role="presentation" class="active"><a href="/adminMGoods">订单管理</a></li>
				<li role="presentation"><a href="/logout">退出</a></li>
				
			</ul>
		</div>
	</div>

	
    <section id="table">
      <div class="container">
	<a href="/order"><button type="button" class="btn btn-info" name="button"  style ="margin-bottom=30px; "  >所有订单</button></a>
<a href="/notSendOrder"><button type="button" class="btn btn-info" name="button">未发货订单</button></a>
<a href="/sendOrder"><button type="button" class="btn btn-info" name="button">临时发货选项</button></a>	
	  
		<table style="table-layout: inherit;"  class="table table-bordered">
          <tr>
		    <th>下单人</th>
            <th>产品</th>
            <th>价格</th>
            <th>单位</th>
            <th>是否发货</th>
            <th>下单时间</th>
			<th>收件人</th>
			<th>收件人联系方式</th>
			<th>地址</th>
			
			<th>发货</th>
            <th>删除</th>
			
          </tr>

          <% items.forEach(function(item){ %>
          <tr>
		    <td><%= item.username %></td> 
            <td><%= item.itemname %></td>
            <td><%= item.prize %></td>
            <td><%= item.point_type %></td>
            <td><%= item.is_send %></td>
            <td><%= item.date %></td>
			<td><%= item.recevierName %></td>
			<td><%= item.recevierPhone %></td>
			<td><%= item.recevierAddress %></td>
	
            <td><a href="/test2Send?_id=<%= item._id %>"><button type="button" class="btn btn-success btn-xs" name="button">发货</button></a></td>	
            <td><a href="/test2Del?_id=<%= item._id %>"><button type="button" class="btn btn-danger btn-xs" name="button">删除</button></a></td>
          </tr>
          <% }); %>

        </table>
      </div>
    </section>
	
	
	
	
  </body>
</html>
