<!DOCTYPE html>
<html  lang="zh-CN">
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>积分管理系统</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body   style="background-color:#F5F5F5" >
  
	<div class="navall">
		<div class="logo">
			<h1>管理员积分管理</h1>
		</div>
		<div class="navbar">
			<ul class="nav nav-pills">
			    <li role="presentation" ><a href="/adminTest">积分兑换</a></li>
			    <li role="presentation"><a href="/trans">积分赠送</a></li>
				<li role="presentation"><a href="/exchange">异业互兑</a></li>
				<li role="presentation"><a href="/blockchain">区块链浏览器</a></li>
				<li role="presentation" class="active"><a href="/adminMpoint">积分发放记录管理</a></li>
				<li role="presentation"><a href="/adminMGoods">订单管理</a></li>
				<li role="presentation"><a href="/logout">退出</a></li>
				
			</ul>
		</div>
	</div>	
		
		
    <div id="table"  >
	
      <div class="containe"  style="width: 800px; margin-top=10px; padding-left: 1px;">		
		
		
		<h3><a href="/pointRecordAdd"><button type="button" class="btn btn-info" name="button">添加积分发放记录</button></a></h3>

		
		        
        <table  style="table-layout: inherit;"  class="table table-bordered">
          <tr>
		  
            <th>事件</th>
            <th>发放用户名</th>
            <th>发放账户</th>
            <th>发放时间</th>
            <th>发放数量 </th>
            <th>单位</th>
			<th>发放人</th>
			<th>修改</th>
			<th>删除</th>
			
			<th>修改并保存</th>
          </tr>

          <% items.forEach(function(item){ %>
          <tr>
            <td><%= item.envent %></td>
            <td><%= item.username %>&nbsp;&nbsp;&nbsp;&nbsp; </td>
            <td><%= item.useraccount %>&nbsp;&nbsp;&nbsp;&nbsp; </td>
            <td><%= item.date %></td>
			<td><%= item.prize %></td>
			<td><%= item.point_type %></td>
			<td><%= item.send_adimin %></td>
			
			
			
			
            <td><a href="/pointRecordUpdate?_id=<%= item._id %>"><button type="button" class="btn btn-success btn-xs" name="button">修改</button></a>&nbsp;&nbsp;&nbsp;&nbsp; </td>
            <td><a href="/pointRecordDel?_id=<%= item._id %>"><button type="button" class="btn btn-danger btn-xs" name="button">删除</button></a>&nbsp;&nbsp;&nbsp;&nbsp; </td>
          <td><a href="/pointRecordUpdateAndSend?_id=<%= item._id %>"><button type="button" class="btn btn-success btn-xs" name="button">修改并保存</button></a>&nbsp;&nbsp;&nbsp;&nbsp; </td>
          </tr>
          <% }); %>

        </table>
	  
	  
    </div>	
		</div>
		
		
	<footer class="footer">
        <div>
          <img src="/images/hub.PNG" style="margin-top: 10px;margin-left: 420px;float:left;">
          <ul class="list-inline" style="float:left; margin-top:40px;margin-left:2px">
            <li><a href="https://github.com/lulinglingcufe" target="_blank">Find Me in GitHub</a></li><li>Lulinglingcufe © 2018 </li>
          </ul>
        </div>
      </div>
    </footer>		
		
		
		
		
		
		
		
		

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">




/*
		$(".btn-info").click(function(){

		var btn = $(this);
		var td = $(this).parent().find("td:selected").text();

			$.post("/checkDefault",{content:"hello"},function(result){
				if(result){
					console.log(result);
					//btn.empty().text('已兑换');
					//btn.empty().text(thing);
	
					}
			})
			
		})
	*/	
		
		
		
		
		
		
		
	</script>
	
	
	
	
  </body>
</html>
