<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>积分管理系统</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body  style="background-color:#F5F5F5">

	<div class="navall"  >
		<div class="logo">
			<h1>个人积分管理</h1>
		</div>
		<div class="navbar">
			<ul class="nav nav-pills">
			    <li role="presentation" ><a href="/adminTest">积分兑换</a></li>
			    <li role="presentation"><a href="/trans">积分赠送</a></li>
				<li role="presentation" class="active"><a href="/order">订单管理</a></li>
				<li role="presentation"><a href="/blockchain">区块链浏览器</a></li>
			</ul>
		</div>
	</div>

	  
		<div class="person" >
		      <img height="180" src="/images/<%=user.username%>.PNG" width="180" class="img-rounded person-img">
		      <div>
		      	<h4>&nbsp;个人账户:</h4>
				<ul class="person-info">
				  <li><%=user.username%></li>
				  <li>frank</li>
				  <li>18211139878</li>
				  <li aria-label="Home location" class="vcard-detail pt-1 css-truncate css-truncate-target" itemprop="homeLocation" title="
				    Beijing"><svg aria-hidden="true" class="octicon octicon-location" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg> Beijing</li>
                 
				  <h3><a href="/order"><button type="button" class="btn btn-info" name="button"   >&nbsp; 所有订单&nbsp; </button></a></h3>
				  <h3><a href="/notSendOrder"><button type="button" class="btn btn-success" name="button"   >未发货订单</button></a></h3>
				
				</ul>
	    	  </div>
		</div>  	  
	 
			 
	 
	 
    <div id="table"  >
	
      <div class="container"  style="width: 900px; margin-top=10px; padding-left: 25px;">
	  
	
	<div class="navbar">
	<h5>
		  <nav aria-label="...">
        <ul class="pager">
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a href="order?page=<%= page-1 %>">上一页</a></li>
          <li>一共有 <%= count %> 条数据，每页显示 <%= limit %> 条数据，一共 <%= pages %> 页，当前第 <%= page %> 页</li>
          <li><a href="order?page=<%= page+1 %>">下一页</a></li>
		 
		
		   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
		  <form action="/getOrderpage" method="post">
		  <input   id="userName" type="text" class="input" name="userName" value=<%= page %>     onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
          <!--这里实现了  输入必须为大于0 整数的限制--> 

	      <button type="submit" class="btn btn-info">跳转</button>
          
		  </form>		   
	  

	   </ul>
     </nav>
	 
	 
	 
	 </h5>
	</div>
	
	
	  <table  style="table-layout: auto;"  class="table table-bordered">
          <tr>
            <th>产品</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp; 价格</th>
            <th>&nbsp;&nbsp; 单位</th>
            <th>&nbsp;&nbsp是否发货</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp; 下单时间&nbsp;&nbsp;&nbsp;&nbsp; </th>
			<th>&nbsp;&nbsp;&nbsp;&nbsp; 收件人&nbsp;&nbsp;&nbsp;&nbsp; </th>
			<th>收件人联系方式</th>
			<th>地址</th>		
          </tr>

          <% items.forEach(function(item){ %>
          <tr>
            <td><%= item.itemname %></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp; <%= item.prize %> &nbsp;&nbsp;&nbsp;&nbsp; </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp; <%= item.point_type %> &nbsp;&nbsp;&nbsp;&nbsp; </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp; <%= item.is_send %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp; <%= item.date %>&nbsp;&nbsp;&nbsp;&nbsp; </td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;  <%= item.recevierName %> &nbsp;&nbsp;&nbsp;&nbsp;  </td>
			<td><%= item.recevierPhone %> &nbsp;&nbsp;&nbsp;&nbsp; </td>
			<td><%= item.recevierAddress %> &nbsp;&nbsp;&nbsp;&nbsp; </td>
          </tr>
          <% }); %>	 
	 
	 </table>
	  
	  </div>
	  
	  
    </div>	 
	 
	
	 

	 
		<footer class="footer">
        <div>
          <img src="/images/hub.PNG" style="margin-top: 10px;margin-left: 420px;float:left;">
          <ul class="list-inline" style="float:left; margin-top:40px;margin-left:2px">
            <li><a href="https://github.com/lulinglingcufe" target="_blank">Find Me in GitHub</a></li><li>Lulinglingcufe © 2018 </li>
          </ul>
        </div>
      </div>
    </footer>		 
	 

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
	
  </body>
</html>
